 
  <ion-view view-title="Maps">
  <ion-content ng-controller= "MapController">

	<label class="item item-input">
          <input id="user.address" type="text" placeholder="Origin Location"  googleplace="" class="ng-pristine ng-valid" autocomplete="off"><!-- googleplace -->
        </label>
	
        <label class="item item-input">
          <input id="user.destination" type="text" placeholder="Enter your destination" googleplace="" class="ng-pristine ng-valid" autocomplete="off"><!-- googleplace -->
        </label>

          <button class="button button-block button-calm icon-right ion-chevron-right disable-user-behavior" ng-click="searchPrices()">Search</button>
        <div id="map" data-tap-disabled ="true"> </div>
      </ion-content>

  </ion-view>
    