<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/map-icons.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQKVCikU8FP1XZ-m3Tytu6KOk9LyB-B6s&libraries=places"></script>
    <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
    <script src="js/services/uberService.js"></script>
    <script src="js/services/lyftService.js"></script>
    <script src="js/services/mapService.js"></script>
    <script src="js/services/markerService.js"></script>
    <script src="js/services/controlService.js"></script>
    <script src="js/controllers/newController.js"></script>
    <script src="js/map-icons.js"></script>
    <!-- <script src="js/controllers/GoogleMaps.js"></script> -->
    <allow-intent href="*" />
    <access origin="*"/>
  </head>
  <style>
    button-bar.custom-width-bar .button:first-child {
    width: 75%;
    min-width: 75%;

    #wrapper { position: relative; }
    #over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }

    }
  </style>
  <body ng-app="app">
    <ion-pane>
      <ion-header-bar align-title="center" class="bar-dark">
	       <h1 class="title">Ride With Me</h1>
      </ion-header-bar>
      <ion-content scroll="false" ng-controller="newController">
<div id="searchBars">
	<div class="search-wrapper">
	  <form>
	    <label class="item search-bar item-input">
	      <input style="color: #FFFFFF;" type="text" name="focus" required class="search-box" ng-model="user.address" id="user.address" placeholder="Enter Pickup Location" googleplace="" autocomplete="off">asdf</input>
	      <button class="close-icon" type="reset"></button>
		  </label>
	  </form>
	</div>
	<div class="search-wrapper">
	  <form>
	    <label class="item search-bar item-input">
        <!-- to add automatic searching, add ng-change="search()" ng-model-options="{debounce: 2000}" to line below -->
	      <input style="color: #FFFFFF;" type="text" name="focus" required class="search-box" ng-model="user.destination" id="user.destination" placeholder="Enter Destination" googleplace="" autocomplete="off"></input>
		    <button class="close-icon" type="reset"></button>
	    </label>
	  </form>
	</div>
</div>
<div id="prices">
      <div class="list card" ng-repeat= "lyfts in res">
            <div class="item item-divider" ng-show="$first">Lyft</div>
          <p style="padding-top: 10px" class="info">{{lyfts.ride_type}}
            <span style="float:right; padding-right: 10px">${{(lyfts.estimated_cost_cents_max/100).toFixed(2)}}</span>
          </p>
     </div>
     <div class="list card" ng-repeat= "lyfts in res">
       <div class="item item-divider" ng-show="$first">Uber</div>
         <p style="padding-top: 10px" class="info">{{lyfts.ride_type}}
           <span style="float:right; padding-right: 10px">${{(lyfts.estimated_cost_cents_max/100).toFixed(2)}}</span>
         </p>
     </div>
  </div>
</div>
<div id="map"></div>
<ion-footer-bar class="bar bar-dark">
  <div class="button-bar">
    <a ng-click="search()" class="button button-dark">Search</a>
    <a ng-click="getPrice()" class="button button-dark">Get Prices</a>
  </div>
</ion-footer>


<!--
	<ion-list ng-repeat= "items in this.uberData">
	  <ion-item class="item-thumbnail-left item-text-wrap">
	    <img src="img/uber.jpg">
	    <h2>Type: {{items.localized_display_name}}</h2>
	    <h2>Cost: {{items.estimate}}</h2>
	    <h2>Duration (min): {{(items.duration/60)}}</h2>
	  </ion-item>
	</ion-list>
-->


      </ion-content>
    </ion-pane>
  </body>
</html>
