/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map{
    width: 100%;
    height: 100%;
}

.close-icon1, .close-icon2 {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon1:after, .close-icon2:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: none;
	z-index:1;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0px;
	border-radius:50%;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 0px #FFFFFF;
	cursor: pointer;
}
.close-icon1:after{
  color: black;
}
.close-icon2:after{
  color: white;
}
.search-box:not(:valid) ~ .close-icon1, .search-box:not(:valid) ~ .close-icon2 {
	display: none;
}
.search-bar1, .search-bar2
{
    box-shadow: 0 10px 6px -6px #777;
    width:300px;
    margin: 10px;
    top: 15px;
    bottom: 10px;
    right: 10px;
    border: none;
}
.search-bar1{
  background-color: #FFFFFF;
}
.search-bar2{
  background-color: #444444;
}
.search-text{
  color: #FFF;
}
/*.footer {
   position:fixed;
   bottom:0;
   height:50px;
}*/

.list{
  background-color: rgba(69, 69, 69, 0);

  margin-top: -100%;
  margin-left: -52%;
  width: 350px;
}
/*slide the prices in from the bottom center; can adjust direction with translate3d*/
@keyframes slideInSmooth {
  0% {
    transform: translate3d(0,750%,0);
  }
  100% {
    transform: translate3d(0,-100%,0);
  }
}
.carItem{
  text-align: center;
  color: white;
  background-color: #444444;
  -webkit-animation:slideInSmooth 700ms;
}

.carItem.ng-enter-prepare
{
  opacity: 0;
}

/*slides the search boxes in from the top center*/
@keyframes slideInSmoothSearch {
  0% {
    transform: translate3d(0,-350%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
/*slides the search boxes in from the top center*/
.search-wrapper{
 animation: slideInSmoothSearch;
 animation: slideInSmoothSearch;
 animation-fill-mode: forwards;
 animation-fill-mode: forwards;
 animation-duration: 700ms;
 animation-duration: 700ms;
 width: 300px;
}
#rounded{
  border-radius:30px;
}
#roundedItemTop{
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}
#roundedItemBottom{
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}

.price-list{
  padding-left: 12px;
}
.info{
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 130%;
  text-align: left;
}
.prices{
  color: #FFFFFF;
  float: right;
  padding-right: 10px;
  font-size: 130%;
}
.click.active, .click.activated, .click-complex.active .click-content, .click-complex.activated .click-content {
border-color: #595a5b;
background-color: #595a5b;
height: 20px;
}

.button-dark{
  width: 150px;
	height: 40px;
  border-radius: 30px;
}

/*adjust position of buttons*/
#search-button{
  padding-left: 5px;
}
#prices-button{
  padding-bottom: 12px;
  padding-right: 5px;
}

/*modify places autocomplete*/
.pac-container{
  border-radius: 10px;
}
