/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map{
    width: 100%;
    height: 100%;
}

/****************************** Search Boxes *********************************/

/*slides the search boxes in from the top center*/
@keyframes slideInSmoothSearch {
  0% {
    transform: translate3d(0,-350%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
/*slides the search boxes in from the top center*/
.search-wrapper{
 animation: slideInSmoothSearch;
 animation: slideInSmoothSearch;
 animation-fill-mode: forwards;
 animation-fill-mode: forwards;
 animation-duration: 700ms;
 animation-duration: 700ms;
 width: 300px;
}

.search-bar1, .search-bar2
{
    box-shadow: 0 10px 6px -6px #777;
    width:300px;
    margin: 10px;
    top: 15px;
    bottom: 10px;
    right: 10px;
    border: none;
}
.search-bar1{
  background-color: #FFFFFF;
}
.search-bar2{
  background-color: #444444;
}
.search-text{
  color: #FFF;
}
/*.footer {
   position:fixed;
   bottom:0;
   height:50px;
}*/

/*modify places autocomplete*/
.pac-container{
  animation: zoomIn 0.5s;
  border-radius: 10px;
  left: 10px !important;
  width: 355px !important;
  margin-top: 15px !important;
}

/*centers each suggestion*/
.pac-item{
  height: 45px !important;
  padding-top: 8px !important;

}


/*gets rid of black text from match text*/
.pac-matched{
  text-decoration: none !important;
  font-weight: normal !important

}
/*locates icon on sprite sheet*/
.pac-icon-marker{
  background-position: -15px -10px !important;
}
/*gets custom icon image*/
.pac-icon{
  background-image: url("/ion-location.png") !important;
  background-size: 40px 40px !important;
  margin-left: 10px !important;
}
/*.pac-item-query{
  vertical-align: 50% !important;
  left: 1px !important;
}*/

/*****************************************************************************/

/******************************* Clear Search ********************************/
.close-icon1, .close-icon2 {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon1:after, .close-icon2:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: none;
	z-index:1;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0px;
	border-radius:50%;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 0px #FFFFFF;
	cursor: pointer;
  animation: zoomIn 0.5s;
}
.close-icon1:after{
  color: black;
}
.close-icon2:after{
  color: white;
}
.search-box:not(:valid) ~ .close-icon1, .search-box:not(:valid) ~ .close-icon2 {
	display: none;
}

/*****************************************************************************/

/********************************* Buttons ***********************************/
.click.active, .click.activated, .click-complex.active .click-content, .click-complex.activated .click-content {
height: 40px;
}

.button-dark{
  width: 150px;
	height: 40px;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 30px;
}

/*adjust position of buttons*/
#search-button{
  padding-left: 5px;
}
#prices-button{
  padding-bottom: 12px;
  padding-right: 5px;
}

/*****************************************************************************/

/********************************** Prices ***********************************/
.list{
  background-color: rgba(69, 69, 69, 0);
  margin-top: -150%;
  margin-left: -52%;
  width: 300px;
}
/*slide the prices in from the bottom center; can adjust direction with translate3d*/
@keyframes slideInSmooth {
  0% {
    transform: translate3d(0,750%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
.carItem{
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  -webkit-animation:slideInSmooth 700ms;
}
.subitem{
  background-color: transparent;
  color: white;
  border: none;
}
.carItem.ng-enter-prepare
{
  opacity: 0;
}

#rounded{
  border-radius:30px;
}
#roundedItemTop{
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}
#roundedItemBottom{
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}

.price-list{
  padding-left: 12px;
}
.info{
  color: #FFFFFF;
  padding-left: 10px;
  font-size: 130%;
  text-align: left;
}
.prices{
  color: #FFFFFF;
  float: right;
  padding-right: 10px;
  font-size: 130%;
}

/*****************************************************************************/

/* Top gray bar */
.top {
   background-color: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
  /*background-color:#5d5d5d;*/
  height:40px;
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
}

/*Item name*/
h3 {
  padding-top:10px;
  color: white;
}

/*Bottom portion*/
.bottom {
border-radius: 10px;
margin-top:50px;
  p {
     font-size:13px;
     padding:5px;
    span {
     font-weight:bold;
    }
  }
}

/*Ride button*/
.ride {
  margin-top:10px;
}
.ride .button {
 background-color: transparent;
 /*border: 1px solid #444444;*/
 width: 100px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
 color: #444444;
 font-size: 10px;
 text-decoration: none;
 vertical-align: middle;
 font-size:15px;
}
.circle {
  width:60px;
  height:60px;
  border-radius:60px;
  font-size:15px;
  color: white;
  line-height:60px;
  text-align:center;
  background:#444444;
  margin-left:38px;
  margin-top:5px;
}
/*Entire table*/
.table {
  background-color: transparent;
  /*border-radius: 10px;*/
  height:108px;
  width:50%;
  margin-top: -15px;
}
ul li {
  float:left;
  width:100%;
  text-align:center;
  background-color: #ffffff;
  border-radius: 10px;
}
#roundedItemTopLeft{
  border-top-left-radius:8px;
}
#roundedItemTopRight{
  border-top-right-radius:8px;
}
#roundedItemBottomLeft{
  border-bottom-left-radius:8px;
}
#roundedItemBottomRight{
  border-bottom-right-radius:8px;
}
